<div class="container">
    <table>
      <thead>
        <tr>
          <th>Név</th>
          <th>Email</th>
          <th>Kor</th>
          <th>Müvelet</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let adat of adatok;let i= index">
          <td>{{ adat.name }}</td>
          <td>{{ adat.email }}</td>
          <td>{{ adat.age }}</td>
          <td>
            <button (click)="torlesEvent(i)">Törlés</button>
            <button (click)="valtoztatEvent(i)">Változtat</button>
          </td>
        </tr>

      </tbody>
    </table>

  <div class="formContainer">
    <form >
      <h2>Új adat hozzáadása</h2>
      <div>
        <input type="text" name="nameInput" [(ngModel)]="nameInput" placeholder="Name">
      </div>
    
      <div>
        <input type="email" name="emailInput" [(ngModel)]="emailInput" placeholder="Email">
      </div>

      <div>
        <input type="number" name="numberInput" [(ngModel)]="numberInput" placeholder="Age">
      </div>
    </form>

    <div class="buttons">
        <button (click)="hozzadEvent()" *ngIf="frissitesGomb == false">Hozzáad</button>
        <button (click)="frissitesEvent()" *ngIf="frissitesGomb == true">Frissítés</button>
    </div>
  </div>
</div>